<?xml version="1.0"?>
<NodeCsConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<NodeCsSettings>
		<Application>NodeCs</Application>
		<Factories>
			<ControllersFactory>Node.Cs.Lib.Controllers.BasicControllersFactory</ControllersFactory>
		</Factories>
		<Security>
			<LoginPage>/Account/LogOn</LoginPage>
			<AuthenticationType>Form</AuthenticationType>
			<Realm>Node.Cs</Realm>
		</Security>
		<Threading>
			<ThreadNumber>8</ThreadNumber>
			<MaxExecutingRequest>9999999</MaxExecutingRequest>
			<MaxConcurrentConnections>9999999</MaxConcurrentConnections>
			<MaxMemorySize>2000000000</MaxMemorySize>
		</Threading>
		<Debugging>
			<Debug>true</Debug>
			<DebugAssemblyLoading>true</DebugAssemblyLoading>
		</Debugging>
		<Paths>
			<WebPaths>
				<PathProvider ClassName="Node.Cs.Lib.PathProviders.FileSystemPathProvider" ConnectionString="">
				</PathProvider>
			</WebPaths>
			<BinPaths>
				<Path>App_Bin</Path>
			</BinPaths>
			<DataDir>App_Data</DataDir>
		</Paths>
		<Listener>
			<Port>80</Port>
			<ServerNameOrIp>*</ServerNameOrIp>
			<ServerProtocol>http</ServerProtocol>
			<SessionTimeout>30</SessionTimeout>
			<RootDir>NodeCs</RootDir>
			<Cultures Default="en-US" Available="en-US"/>
		</Listener>
		<Plugins>
			<Plugin Dll="Node.Cs.MVC.dll"/>
		</Plugins>
		<Handlers>
			<Handler Dll="Node.Cs.Razor.dll" ClassName="Node.Cs.Razor.RazorHandler">
				<Extensions>
					<Extension>cshtml</Extension>
				</Extensions>
			</Handler>
			<Handler ClassName="Node.Cs.Lib.Static.StaticHandler">
				<Extensions>
					<Extension>html</Extension>
					<Extension>htm</Extension>
				</Extensions>
			</Handler>
		</Handlers>
	</NodeCsSettings>
</NodeCsConfiguration>